<h1>Stupid Coaching</h1>

<div id=container>
    <div id="question">
      <div id="the question"> <%= @question %> </div>
      <div id="question-asker"> -You </div>
    </div>

    <div id="space"> <p>


    </p>
    </div>

    <div id="answer">
      <div id="the question"> <%= @answer %> </div>
      <div id="question-asker"> -Your coach </div>
    </div>
</div>
 <div id="space"> <p>


    </p>
    </div>

<a href="/ask">Ask a new question</a>
